{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Library Management System</h1>
    <div class="row">
        <div class="col-md-8">
            <h2>Recent Books</h2>
            {% for book in recent_books %}
                <article class="media content-section">
                    <div class="media-body">
                        <h3><a class="article-title" href="{{ url_for('books.book_detail', book_id=book.id) }}">{{ book.title }}</a></h3>
                        <p class="article-content">Author: {{ book.author }}</p>
                        <p class="article-content">ISBN: {{ book.isbn }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Quick Links</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('books.search') }}">Search Books</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('books.recommendations') }}">Book Recommendations</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.account') }}">My Account</a></li>
                    {% else %}
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}